*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/Model-№1-FUDS.tflite
/app/src/main/assets/Model-№2-FUDS.tflite
/app/src/main/assets/Model-№3-FUDS.tflite
/app/src/main/assets/Model-№5-FUDS.tflite
/app/src/main/assets/Model-№6-FUDS.tflite
